@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;

    background: url(https://i.ibb.co/9rrPWXB/pexels-lisa-fotios-5740932.jpg)#000;
    background-size: cover;
    color:#FFF;
    font-size: 16px;
}

.wrap{
    width: 90%;
    max-width: 1000px;
  /*  margin:auto;*/
}
.widget{
    width: 40%;
    margin:2em;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    width: 100%;
}

.reloj{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background: rgba(0, 0, 0, .5);

}
.caja-segundos{
    display: inline-block;

}
.reloj .segundos,
.reloj .ampm{
    font-size: 2rem;
    display: block;
}